    body {
        background-color: #000;
    }


    .strobe:hover {
        animation: strobe-effect .9s infinite;
    }
    
    @keyframes strobe-effect {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }
    }

    


    
    .centered-button {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 